<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TDCAppDependencies.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TDCContentLoading.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A5501A841CF35F7700022D04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5501A8E1CF35F7700022D04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5501ACD1CF361F100022D04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5501AD61CF361F100022D04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5501AE91CF361FD00022D04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5501AF21CF361FD00022D04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
